* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-family: 'Itim', cursive;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contenedorPrincipal {
  min-height: 100vh;
}

.fondo {
  /*Patron de fondo*/
  background-color: #556;
  background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a), linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.contenedorForm {
  background: -webkit-gradient(linear, left bottom, left top, from(#000), to(#ccc));
  background: linear-gradient(to top, #000, #ccc);
  border-radius: 5px;
  padding: 10px;
}

.redes {
  width: 50%;
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30% 33%;
      grid-template-columns: 30% 30% 33%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
      grid-template-areas: "titulo . ." "tw ig wp";
}

.redes .tituloRedes {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: titulo;
  color: white;
}

.redes .tw {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: tw;
  background-color: blue;
}

.redes .ig {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: ig;
  background-color: #ff00bf;
}

.redes .wp {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: wp;
  background-color: rgba(5, 226, 53, 0.925);
}

.articuloPS {
  min-height: 30vh;
  background-color: gray;
  border: 1px solid black;
}

.contenedor_xbox {
  margin: 5px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  gap: 5px;
  justify-items: center;
}

.contenedor_xbox .tarjeta {
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 2px;
  background: -webkit-gradient(linear, left bottom, left top, from(#000), to(#ccc));
  background: linear-gradient(to top, #000, #ccc);
  width: 60%;
  color: white;
  -webkit-transition: all 1s;
  transition: all 1s;
  /*Animaciones*/
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.contenedor_xbox .tarjeta__img {
  height: 100px;
  width: 70%;
  margin-left: 10%;
  border-radius: 5px;
}

.contenedor_xbox .tarjeta:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

@-webkit-keyframes aparecer {
  0% {
    -webkit-transform: scale(1.4, 1.4);
            transform: scale(1.4, 1.4);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.3, 1.3);
            transform: scale(1.3, 1.3);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    -webkit-transform: scale(1.4, 1.4);
            transform: scale(1.4, 1.4);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.3, 1.3);
            transform: scale(1.3, 1.3);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */