$ancho:100%;
$colorTW:blue;
$colorIG:rgb(255, 0, 191);
$colorWA:rgba(5, 226, 53, 0.925);

// Contenedor de formlario decontacto
.contenedorForm{
    background:  linear-gradient(to top, #000, #ccc);
    border-radius: 5px;
    padding: 10px;
}


.redes{
    width: 50%;
    align-self: center;
    display: grid;
    grid-template-columns: 30% 30% 33%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
        "titulo . ."
        "tw ig wp"
    ;

    .tituloRedes{
        grid-area: titulo;
        color: white;
    }

    @each $red in tw, ig, wp{
       .#{$red} {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            color: white;
            display: flex ;
            justify-content: center;
            align-items: center;
            grid-area:#{$red};

            @if $red == tw {
                background-color: $colorTW;
                
            } @else if $red == ig {
                background-color: $colorIG;
            } @else if $red == wp {
                background-color: $colorWA;
            } 
        }
    }
    
}
